.App{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.appButton{
  width: 25%;
  background-color: grey;
  color: white;
  padding: 10px;
  font-size: 20px;
  border-radius: 10px;
  border: 1px solid gray;
  margin: 10px;
}
.course{
  width: 350px;
  height: 240px;
  border-radius: 5px;
}

.courseDiv{
  margin: 10px;
  border: 1px solid lightgray;
  padding: 10px;
  border-radius: 5px;
}

.courseList{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}